<% @shops.each do |shop| %>
  <a href= <%= 'shops/' + shop.id.to_s%>>
  <div class= "shop col-xs-12 col-sm-6 col-md-4">
    <div class="shop_picture_framework col-xs-12">
      <% if shop.pictures.size > 0 %>
        <%= image_tag shop.pictures.first.file.url(:medium), class: "shop_picture", alt: shop.name %>
      <% else %>
        <%= image_tag("http://upload.wikimedia.org/wikipedia/commons/8/8e/Shop.svg", class: "shop_picture missing_picture", alt: shop.name) %>
      <% end %>
    </div>
    <div class= "shop_info">
      <h3 class= "row"><%= shop.name %></h3>
      <div class= "col-xs-6">
        <p><%= shop.street_address %></p>
        <p><%= shop.city %></p>
        <p><%= shop.country %></p>
      </div>
      <div class="shop_price col-xs-4">
        <h3><%= number_to_currency(shop.price, precision: 0) %></h3>
      </div>
    </div>
  </div></a>
<% end %>
